<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ВидеоХАБ</title>
</head>
<div class="default main-navigation-bar-collapse" id="navbar">
                   <li class="nav-item">
                       <a class="nav-link" href="/">Поиск</a>
                   </li>
                    <li class="nav-item">
                       <a class="nav-link" href="/admin">Настройки</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/accounts/login">Login</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/accounts/logout">Logout</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="/accounts/signup">Регистрация</a>
                   </li>
               </ul>
           </div>
{% block content %}
{% endblock content %}

</html>